body {
    background: var(--background);
    color: var(--text-color);
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: var(--sidebar-width);
    line-height: 22px;
    overflow-x: hidden;
}

* {
    font-family: "Ubuntu", "Ubuntu-Embed", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

/************************************
  Colours & Variables
************************************/
:root {
    --sidebar-width: 300px;
    --page-width: 50em;
    --header-full-height: 60px; /* height + padding */

    --background: #f4f4f4;
    --text-color: black;

    --grey-border: #d5d5d5;
    --grey-color: #9b9b9b;

    --sidebar-bg: white;
    --item-border: #d7d7d7;
    --item-hover: #f4f4f4;
    --item-active: #abc087;

    --accent: #87a556;
    --accent-hover: #9fb876;
    --text-on-accent: white;
    --accent-link: #758a53;

    --quote-bg: #EDEDED;
    --quote-border: #eaeae9;
    --quote-text: black;

    --title-color: #4b4b49;
    --title-border: #c0bfbc;

    --table-border: #c9c6c3;
    --table-alt-row: #ececec;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #222222;
        --text-color: white;

        --grey-color: #909090;

        --sidebar-bg: #363636;
        --item-border: #242424;
        --item-hover: #2e2e2e;
        --item-active: #abc087;

        --accent-link: #87a556;

        --quote-bg: #4e4c46;
        --quote-border: #403e39;
        --quote-text: white;

        --title-color: #9b9b9b;
        --table-border: #404040;
        --table-alt-row: #2f2f2f;
    }

    /* Docbook: Cheap way to invert light OS logo for the dark background */
    #page-overview + p > img,
    #page-faq + p > img {
        filter: invert(1) grayscale(1) brightness(3);
    }
}

/************************************
  Layout & Sidebar
************************************/
#docbook {
    max-width: var(--page-width);
    margin: auto;
    margin-top: var(--header-full-height);
    padding: 16px;
}

#guide-sidebar {
    align-self: start;
    background: var(--sidebar-bg);
    position: fixed;
    top: var(--header-full-height);
    left: 0;
    bottom: 0;
    height: calc(100vh - var(--header-full-height));
    width: var(--sidebar-width);
}

#sidebar-contents {
    list-style: none;
    padding: 0;
    margin: 0;
    height: calc(100% - 40px);
    overflow-y: scroll;
}

#sidebar-contents .nav-separator:first-child {
    display: none;
}

.nav-item {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid var(--item-border);
    font-size: 15px;
    text-decoration: none;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.nav-chapter {
    border-color: var(--item-border);
    color: var(--text-color);
    text-transform: capitalize;
}

.nav-separator {
    height: 15px;
}

.nav-item:hover,
.nav-item:focus {
    background: var(--item-hover);
    color: var(--text-color);
    text-decoration: none;
}

.nav-item:active {
    background: var(--item-active);
    color: var(--text-color);
    outline-color: var(--item-active);
    transition: none;
}

.nav-item.active {
    background-color: var(--accent);
    color: var(--text-on-accent);
}

.sidebar-info {
    padding: 15px;
    opacity: 0.5;
}

#nav-page-faq {
    text-transform: uppercase;
}

#sidebar-buttons {
    display: flex;
    margin: 6px;
}

#sidebar-buttons button {
    display: flex;
    flex: 1;
    margin: 1px 4px;
}

#sidebar-buttons svg {
    height: 20px;
    width: 20px;
    margin: auto;
    margin-right: 0;
}

#sidebar-buttons svg path {
    fill: var(--accent);
}

#sidebar-buttons span {
    display: inline-flex;
    margin: auto;
    margin-left: 4px;
}

/************************************
  Site Header
************************************/
#site-header {
    background: var(--accent);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    padding: 6px 12px;
    z-index: 10;
    display: flex;
    flex-direction: row;
}

#back-to-top {
    margin-right: auto;
}

#site-logo {
    height: 48px;
    width: 48px;
}

.site-nav {
    display: block;
    color: var(--text-on-accent);
    cursor: pointer;
    padding: 14px;
    font-size: 14px;
    text-decoration: none;
}

.site-nav:hover,
.site-nav:focus {
    background: var(--accent-hover);
    color: var(--text-on-accent);
    text-decoration: none;
}

.site-nav:active {
    background: var(--item-active);
    outline-color: var(--item-active);
}

.site-nav.disabled {
    cursor: not-allowed;
    opacity: 0.25;
    pointer-events: none;
}

.site-nav svg {
    height: 16px;
    width: 16px;
    vertical-align: text-top;
}

.site-nav svg path {
    fill: white;
}

/************************************
  Guide Content
************************************/
/* Docbook shows the OS logo twice, hide the first one */
#docbook > header + p {
    display: none;
}

/* Style the title of the book */
#title-block-header {
    padding: 10px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid var(--grey-border);
}

#title-block-header .author,
#title-block-header .date {
    color: var(--grey-color);
}

/* Headings */
h1, h2 {
    color: var(--title-color);
    line-height: 36px;
    text-transform: capitalize;

    /* Jump to (hash) */
    margin-top: -60px;
    padding-top: 80px;
    margin-bottom: 20px;
}

h2 {
    border-bottom: 1px solid var(--title-border);
    color: var(--title-color);
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 10px;
}

/* Quotes, notes and code blocks */
blockquote,
.note {
    background: var(--quote-bg);
    border: 1px solid var(--quote-border);
    border-left: 5px solid var(--accent);
    margin: 12px auto;
    padding: 16px;
    clear: both;
}

.note .title {
    font-weight: bold;
}

pre {
    display: block;
    background-color: var(--quote-bg);
    border: 1px solid var(--quote-border);
    color: var(--text-color);
    padding: 16px;
    margin: 12px 0;
    white-space: pre-wrap;
    line-break: anywhere;
}

pre,
pre code {
    font-family: "Ubuntu Mono", "Roboto Mono", monospace;
}

/* File -> Example -> Save As... */
.menuchoice {
    color: var(--title-color);
    font-style: italic;
}

/* Images underneath headings are icons */
.app-icon {
    float: left;
    margin: 12px;
    margin-left: 0;
    margin-top: 4px;
}

/* Figure images, usually screenshots */
.figure {
    display: block;
    max-width: calc(var(--page-width) - 12em - 20px);
    margin: 10px auto;
}

/* Navigation links */
a {
    color: var(--accent-link);
}

/* Tables */
table {
    table-layout: fixed;
    margin: 0;
    margin-bottom: 0px;
    margin-bottom: 50px;
}

th, td {
    border-spacing: 0;
    border-collapse: collapse;
    padding: 8px;
    max-width: 400px;
}

/* Common keyboard shortcuts table onwards */
#shortcuts-common ~ table thead {
    /* Hidden, content is lots of dots */
    display: none;
}

#shortcuts-common ~ table tr {
    border-bottom: 1px solid var(--table-border);
}

#shortcuts-common ~ table .even {
    background-color: var(--table-alt-row);
}

/************************************
  Docbook Tweaks
************************************/
/* In the first section, center align the OS logo */
/* Also, any image that's in a paragraph of its own */
#page-overview + p > img,
#page-faq + p > img {
    display: block;
    margin: 20px auto;
    height: 48px;
    max-width: unset;
}

/* "The MATE Desktop" has an icon and few words due to the blockquote */
#page-mate-desktop + p {
    margin-bottom: 0;
}

#page-mate-desktop + p .app-icon {
    float: none;
    vertical-align: middle;
}

/************************************
  Fonts
************************************/
/* Embed Ubuntu font if not present on system */
@font-face {
    font-family: "Ubuntu-Embed";
    src: local('Ubuntu'), url("/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu-Embed";
    src: local('Ubuntu Bold'), url("/assets/fonts/Ubuntu-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

/************************************
  Mobile View
************************************/
/* Only visible on mobile */
.mobile-only {
    display: none;
}

@media (max-width: 940px) {
    body {
        margin: 0;
    }

    p > img,
    p > embed {
        max-width: 100%;
    }

    #guide-sidebar {
        margin: 0;
    }

    a {
        line-break: anywhere;
    }

    .figure {
        max-width: 90%;
    }

    #sidebar-contents {
        height: 100%;
        max-width: 500px;
    }

    /* Hide header items */
    .site-nav {
        display: none;
    }

    /* Collapse sidebar into toggle button */
    #guide-sidebar {
        position: fixed;
        bottom: 0;
        left: 40vw;
        width: 60vw;
        z-index: 5;
    }

    #sidebar-invisible {
        background: rgba(255,255,255,0.8);
        cursor: pointer;
        position: fixed;
        left: 0;
        width: 40vw;
        top: var(--header-full-height);
        bottom: 0;
    }

    #guide-sidebar {
        display: none;
    }

    #mobile-nav-btn {
        cursor: pointer;
        display: flex;
        height: 50px;
        width: 50px;
    }

    #mobile-nav-btn svg {
        margin: auto;
    }

    #mobile-nav-btn path {
        fill: white;
    }

    #mobile-nav-toggle:checked ~ #guide-sidebar {
        display: block;
    }

    #mobile-nav-toggle:checked ~ #site-header #mobile-nav-btn {
        background: white;
    }

    #mobile-nav-toggle:checked ~ #site-header #mobile-nav-btn path {
        fill: black;
    }

    #sidebar-buttons {
        display: none;
    }

    .site-nav svg {
        height: 24px;
        width: 24px;
        vertical-align: top;
    }

    .mobile-only {
        display: block;
    }
}

@media (max-width: 940px) and (prefers-color-scheme: dark) {
    #sidebar-invisible {
        background: rgba(0,0,0,0.9);
    }

    #mobile-nav-toggle:checked ~ #site-header #mobile-nav-btn {
        background: black;
    }

    #mobile-nav-toggle:checked ~ #site-header #mobile-nav-btn path,
    #sidebar-close path  {
        fill: white;
    }
}
