
<title>Ubuntu MATE Guide</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link rel="canonical" href="https://guide.ubuntu-mate.org/">

<!-- Ubuntu MATE Guide is actually a book! -->
<meta property="books:isbn" content="979-8609027351">
<meta property="books:rating:value" content="5">
<meta property="books:rating:scale" content="5">
<meta property="books:release_date" content="2020/02/04">
<meta property="books:author" content="Larry Bushey">
<meta name="author" content="Larry Bushey">

<!-- Social Media -->
<meta property="og:site_name" content="Ubuntu MATE Guide">
<meta property="og:title" content="Ubuntu MATE Guide">
<meta property="og:url" content="https://guide.ubuntu-mate.org/">
<meta property="og:description" content="The official Ubuntu MATE guide, to help new users navigate their system">
<meta property="og:type" content="website">
<meta property="og:image" content="https://guide.ubuntu-mate.org/assets/thumbnail.jpg">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@ubuntu_mate">
<meta name="twitter:creator" content="@ubuntu_mate">

<meta name="application-name" content="Ubuntu MATE Guide" />
<link rel="manifest" href="/assets/favicon/manifest.json">
<link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />

<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/32x32.png">
<link rel="apple-touch-icon" sizes="32x32" href="/assets/favicon/32x32.png">
<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon/64x64.png">
<link rel="apple-touch-icon" sizes="64x64" href="/assets/favicon/64x64.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/96x96.png">
<link rel="apple-touch-icon" sizes="96x96" href="/assets/favicon/96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/assets/favicon/144x144.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/144x144.png">
<link rel="icon" type="image/png" sizes="196x196" href="/assets/favicon/196x196.png">
<link rel="apple-touch-icon" sizes="196x196" href="/assets/favicon/196x196.png">
<link rel="icon" type="image/png" sizes="256x256" href="/assets/favicon/256x256.png">
<link rel="apple-touch-icon" sizes="256x256" href="/assets/favicon/256x256.png">

<meta name="msapplication-TileColor" content="#87A556" />
<meta name="msapplication-TileImage" content="/assets/favicon/144x144.png">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">

<!-- DNS Prefetching -->
<link rel="dns-prefetch" href="https://ubuntu-mate.org">
<link rel="dns-prefetch" href="https://ubuntu-mate.community">
